// Imports and variables ------------------------------------------- /

// Base font size
$base-font-size: 14px

// Add Cerberus/Bootstrap framework
@import cerberus/import
@import modules/fonts

// Font stacks
$kreonStack: 'Kreon', $serifFontFamily
$oswaldStack: 'Oswald', $sansFontFamily

// Color variables
$nodeGreen: darken(#8BC84B, 7)

$baseColor: grey(95)
$baseLight: lighten($baseColor, 15)
$bodyFontColor: $base01
$linkColor: $base01

// Image urls
$crisp: "http://i.imgur.com/I1pSr.png"
$noise: "http://i.imgur.com/Lzrrl.png"

// Placeholders ---------------------------------------------------- /

@import placeholders

// Scaffolding ------------------------------------------------------/

body
  @extend %fontSerif
  background: $baseColor url($crisp)
  color: $bodyFontColor

#header
  @extend %hide

div#page
  @extend %container
  @extend %reset
  margin: auto
  max-width: 75%
  padding: 0 ms(0)
  +to($ipad)
    max-width: 100%
  +from-to($ipad, 1500px)
    max-width: 95%

// Layout ---------------------------------------------------------- /

@import layout/body
@import layout/post
@import layout/comments

// Modules --------------------------------------------------------- /

@import modules/images
@import modules/pre
@import modules/forms

// Custom classes -------------------------------------------------- /

blockquote
  border-left: 4px solid grey(90)
  padding-left: ms(0)
  color: $base0

del
  text-decoration: none
  strong
    color: grey(60)
    font-style: italic