//////////////////////////////////////////////////////////////////////
///////////////////////////// BLOG BODY //////////////////////////////
//////////////////////////////////////////////////////////////////////

div#body
  @extend %reset

  .container
    @extend %reset

    // Header margin
    #content, #sidebar
      margin-top: 265px

    // Main blocks layout
    $aside: 4
    #content
      +span-columns(($total-columns - $aside))
      background: white
      position: relative
      z-index: 5
      &.one_article
        +span-columns(10)
        +push(1)
    #sidebar
      +span-columns($aside omega)

  // Import other blocks
  @import header
  @import sidebar