//////////////////////////////////////////////////////////////////////
/////////////////////////// BLOG FOOTER //////////////////////////////
//////////////////////////////////////////////////////////////////////

#footer
  @extend %reset-links
  @extend %text-shadow
  background: $darkGrey inline-image('noise.png')
  color: white
  font-size: ms(0.5)
  line-height: 1.2
  margin-top: ms(0)
  padding: ms(0) 0
  a
    @extend %base-link