//////////////////////////////////////////////////////////////////////
///////////////////////////// CODE BLOCKS ////////////////////////////
//////////////////////////////////////////////////////////////////////

pre
  @extend %rounded-corners
  background-color: $base2
  color: $base01
  padding: ms(0)